* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.header {
  background: url("images/bg1.jpg") no-repeat;
  background-size: contain;
  background-color: #1D0F0A;
  height: 100vh;
}